@import "tailwindcss";
/* Global CSS */

body {
    font-style: normal;
    background: #17153b;
}

.border-wrap {

  --s: 100px; /* the size on the corner */
  --t: 10px;  /* the thickness of the border */
  --g: 15px; /* the gap between the border and image */
  
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid #e60076;
  outline-offset: calc(-1*var(--t));
  mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
}